<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form method="post" action="/login.go">
			<table>
				<tr>
					<th><label for="user_id">ID</label></th>
					<td><input name="user_id" id="user_id"></td>
				</tr>
				<tr>
					<th><label for="user_pwd">PASSWORD</label></th>
					<td><input type="password" name="user_pwd" id="user_pwd"></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Login">
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>